{% load static %}
<html lang="en-US" dir="rtl" class="chrome windows fontawesome-i2svg-active fontawesome-i2svg-complete">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ===============================================-->
  <!--    Document Title-->
  <!-- ===============================================-->
  <title>Phoenix</title>

  <!-- ===============================================-->
  <!--    Favicons-->
  <!-- ===============================================-->

  <meta name="theme-color" content="#ffffff">


  <!-- ===============================================-->
  <!--    Stylesheets-->
  <!-- ===============================================-->
  <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
  <script src="{% static 'assets/js/config.js' %}"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <link href="{% static 'assets/css/theme-rtl.min.css' %}" type="text/css" rel="stylesheet" id="style-rtl">
  <link href="{% static 'assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default"
    disabled="true">
  <link href="{% static 'assets/css/user-rtl.min.css' %}" type="text/css" rel="stylesheet" id="user-style-rtl">
  <link href="{% static 'assets/css/user.min.css' %}" type="text/css" rel="stylesheet" id="user-style-default"
    disabled="true">
  <link rel="stylesheet" type="text/css" id="mce-u0" href="{% static 'vendors/tinymce/skins/ui/oxide/skin.min.css'%}">
  <link href="assets/css/fontstyle.css" rel="stylesheet">
  {% include '_partials/_styles-assets.html ' %}
  <script>
    var phoenixIsRTL = window.config.config.phoenixIsRTL;
    if (phoenixIsRTL) {
      var linkDefault = document.getElementById('style-default');
      var userLinkDefault = document.getElementById('user-style-default');
      linkDefault.setAttribute('disabled', true);
      userLinkDefault.setAttribute('disabled', true);
      document.querySelector('html').setAttribute('dir', 'rtl');
    } else {
      var linkRTL = document.getElementById('style-rtl');
      var userLinkRTL = document.getElementById('user-style-rtl');
      linkRTL.setAttribute('disabled', true);
      userLinkRTL.setAttribute('disabled', true);
    }
  </script>
  <link rel="stylesheet" type="text/css" id="mce-u0"
    href="file:///D:/Projects/Django/Templates/Paid/Liyan_dashboard/vendors/tinymce/skins/ui/oxide/skin.min.css">
</head>

<body>
  <!-- ===============================================-->
  <!--    Main Content-->
  <!-- ===============================================-->
  <main class="main" id="top">
    {% include "_partials/navbar-menu.html" %}

    <div class="content">

      {% for error in customerChnageinfoform.phone_number.errors %}
      <div class="alert alert-soft-danger alert-dismissible fade show w-50" role="alert">
        <p>{{error}}</p>
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      <div class="mb-9" data-bs-spy="scroll" data-bs-target="#widgets-scrollspy">

        <div class="row g-3">
          <div class="col-xl-4">
            <div class="row gy-3 h-100">
              <div class="col-12">
                <div class="card mb-3 h-100">

                  <div class="card-body">

                    <div class="row align-items-center g-5 mb-3 text-center text-sm-start">
                      <div class="col-12 col-sm-auto mb-sm-2">
                        <div class="avatar avatar-5xl"><img class="rounded-circle" src="{% static 'assets/img/MyImages/user-profile-icon.png' %}">
                        </div>
                      </div>
                      <div class="col-12 col-sm-auto flex-1">



                      </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                      <h3>{{customer.full_name}}</h3><button class="btn btn-link px-3" type="button"
                        data-bs-toggle="modal" data-bs-target="#change-info">تغییر اطلاعات</button>
                      <!--Change customer info -->
                      <div class="modal fade" id="change-info" tabindex="-1" data-bs-backdrop="static"
                        aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header bg-primary">
                              <h5 class="modal-title text-white" id="staticBackdropLabel">تغییر اطلاعات مشتری</h5>
                              <button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg
                                  class="svg-inline--fa fa-xmark fs--1 text-white" aria-hidden="true" focusable="false"
                                  data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                                  viewBox="0 0 320 512" data-fa-i2svg="">
                                  <path fill="currentColor"
                                    d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                                  </path>
                                </svg><!-- <span class="fas fa-times fs--1 text-white"></span> Font Awesome fontawesome.com --></button>
                            </div>
                            <div class="modal-body">
                              <form class="row g-3" method="post">
                                {% csrf_token %}
                                <div class="col-md-4">
                                  <p for="name">نام و نام خانوادگی</p>

                                  {{customerChnageinfoform.full_name}}
                                </div>
                                <div class="col-md-4">
                                  <p for="phonenumber">شماره همراه</p>

                                  {{customerChnageinfoform.phone_number}}
                                </div>
                                <div class="col-md-4">
                                  <p for="address">آدرس</p>
                                  {{customerChnageinfoform.address}}
                                </div>
                            </div>
                            <div class="modal-footer"><button name="change-user-info" class="btn btn-primary"
                                type="submit">ثبت تغییرات</button><button class="btn btn-outline-primary" type="button"
                                data-bs-dismiss="modal">لغو</button></div>
                            </form>

                          </div>
                        </div>
                      </div>
                      <!--end change customer info -->
                    </div>
                    <div class="mb-4">
                      <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-envelope-alt"> </span>
                        <h5 class="text-1000 mb-0">آدرس</h5>
                      </div>
                      <p>{{customer.address}}</p>
                    </div>
                    <div class="mb-4">
                      <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-phone"> </span>
                        <h5 class="text-1000 mb-0">شماره همراه</h5>
                      </div>{{customer.phone_number}}
                    </div>

                    <div class="mb-4">
                      <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-calculator"> </span>
                        <h5 class="text-1000 mb-0">تاریخ ثبت</h5>
                      </div>{{customer.joined|date:"Y/m/d"}}
                    </div>



                    <div class="mb-4">
                      <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-check-circle"></span>
                        <h5 class="text-1000 mb-0">وضعیت حساب</h5>
                      </div>{% if customer.active_credit %} <span class="badge badge-phoenix badge-phoenix-danger">تسویه
                        نشده</span> {% else %} <span class="badge badge-phoenix badge-phoenix-success">تسویه شده</span>
                      {% endif %}
                    </div>

                    <div class="mb-4">
                      <div class="d-flex align-items-center mb-1"><span class="me-2 uil uil-calculator"> </span>
                        <h5 class="text-1000 mb-0">کد معرف</h5>
                      </div>{{customer.id}}
                    </div>

                  </div>
                </div>
              </div>



            </div>

          </div>

          <div class="col-xl-7">
            <div class="row gy-3 h-100">
              <div class="col-12">
                <div class="card mb-3 h-100">
                  <div class="card-body">
                    <h3 class="mb-4">ارسال پیامک</h3><textarea class="form-control mb-3" rows="4"></textarea><button
                      class="btn btn-phoenix-info w-40 mb-4 ">ارسال پیام</button>
                    <div class="fs--1 fw-semi-bold pb-3 mb-4 border-bottom border-dashed border-300">
                      <p class="text-1000 mb-1">سلام متن پیام نمونه</p>
                      <div class="text-end">
                        <p class="text-600 mb-0">1403/03/13</p>
                      </div>
                    </div>
                    <div class="fs--1 fw-semi-bold pb-3 mb-4 border-bottom border-dashed border-300">
                      <p class="text-1000 mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                        از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای
                        شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای
                        زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم
                        افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان
                        فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط
                        سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته
                        اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                      <div class="text-end">
                        <p class="text-600 mb-0">1403/03/19</p>
                      </div>
                    </div>
                    <div class="fs--1 fw-semi-bold pb-3 mb-4 border-bottom border-dashed border-300">
                      <p class="text-1000 mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                      <div class="text-end">
                        <p class="text-600 mb-0">1403/03/25</p>
                      </div>
                    </div>
                    <div class="fs--1 fw-semi-bold">
                      <p class="text-1000 mb-1">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم
                        متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                      <div class="text-end">
                        <p class="text-600 mb-0">1403/03/30</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <!-----------------حساب های مشتری-->
        <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white py-5 border-y border-300 mt-5">
          <div id="projectSummary"
            data-list="{&quot;valueNames&quot;:[&quot;projectName&quot;,&quot;assigness&quot;,&quot;start&quot;,&quot;deadline&quot;,&quot;task&quot;,&quot;projectprogress&quot;,&quot;status&quot;,&quot;action&quot;],&quot;page&quot;:6,&quot;pagination&quot;:true}">
            <div class="row mb-4 gx-6 gy-3 align-items-center">
              <div class="col-auto">
                <h2 class="mb-0">حساب های مشتری<span class="fw-normal text-700 ms-3">({{customer.AccountsReceivable.count}})</span></h2>
              </div>

            </div>

            <div class="row g-3 justify-content-between align-items-end mb-4">
              <div class="col-12 col-sm-auto">

                <!-- <div class="d-flex align-items-center">
                  <div class="search-box me-3">
                    <form class="position-relative" data-bs-toggle="search" data-bs-display="static"><input id="test"
                        class="form-control search-input search" type="text" placeholder="Search projects"
                        aria-label="Search">
                      <svg class="svg-inline--fa fa-magnifying-glass search-box-icon" aria-hidden="true"
                        focusable="false" data-prefix="fas" data-icon="magnifying-glass" role="img"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
                        <path fill="currentColor"
                          d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z">
                        </path>
                      </svg>
                    </form>
                  </div>
                </div> -->
              </div>
              <div class="col-12 col-sm-auto">
                <!--MODAL FACTOR AND ACCOUNTANT--------------------------------------------->
                {% if factor_created %}
                <button class="btn btn-danger col-12 col-sm-auto mb-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#delete-factor">حذف فاکتور </button>
                  <button class="btn btn-success col-12 col-sm-auto mb-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#new-account">ایجاد حساب جدید</button>
                {% else %}
                <button class="btn btn-info col-12 col-sm-auto mb-2" type="button" data-bs-toggle="modal"
                  data-bs-target="#new-factor">فاکتور جدید</button>
                  <button class="btn btn-success col-12 col-sm-auto mb-2 disabled" type="button" data-bs-toggle="modal"
                    data-bs-target="#new-account">ایجاد حساب جدید</button>
                {% endif %}





                {% if factor_created %}
                <!-- حذف فاکتور -->

                <div class="modal fade" id="delete-factor" tabindex="-1" data-bs-backdrop="static"
                  aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                      <div class="modal-header bg-danger">
                        <h5 class="modal-title text-white" id="staticBackdropLabel">حذف فاکتور ایجاد شده</h5><button
                          class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg
                            class="svg-inline--fa fa-xmark fs--1 text-white" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                              d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                          </svg><!-- <span class="fas fa-times fs--1 text-white"></span> Font Awesome fontawesome.com --></button>
                      </div>
                      <div class="modal-body">
                        <!--MODAL BODY ----------------------------->
                        <div class="col-12 col-sm-auto">


                        </div>
                        <!--Factor----------------------------------->
                        <div class="table-responsive mx-n1 px-1 scrollbar">
                          <table class="table fs--1 mb-0 border-top border-200">
                            <thead>
                              <tr>
                                <th class="sort white-space-nowrap align-middle" scope="col" style="min-width:250px;"
                                  data-sort="product">نام محصول</th>
                                <th class="sort align-middle" scope="col" data-sort="customer" style="min-width:150px;">
                                  وزن</th>
                                <th class="sort align-middle" scope="col" data-sort="customer" style="min-width:150px;">
                                  قیمت</th>
                                <th class="sort align-middle" scope="col" data-sort="rating" style="min-width:250px;">
                                  توضیحات</th>
                                <th class="sort align-middle" scope="col" data-sort="rating" style="min-width:50;"></th>
                              </tr>
                            </thead>
                            <tbody class="list" id="table-latest-review-body">

                              {% for product in factor_products %}
                              <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="align-middle product white-space-nowrap">{{product.name}}</td>
                                <td class="align-middle customer white-space-nowrap"><a
                                    class="d-flex align-items-center text-900">

                                    <h6 class="mb-0 ms-3 text-900">{{product.weight}}</h6>
                                  </a></td>

                                <td class="align-middle customer white-space-nowrap ">

                                  <h6 class="mb-0 ms-3 text-900">{{product.price}}</h6>
                                </td>
                                <td class="align-middle product white-space-nowrap">{{product.bio}}</td>


                              </tr>
                              {% endfor %}

                            </tbody>
                          </table>
                        </div>
                        <!--End factor------------------------------->
                        <!-- END MODAL BODY ----------------------------->

                        <div class="modal-footer">
                          <form method="post">
                            {% csrf_token %}
                            <button id="delete-factor" name="delete-factor" class="btn btn-danger" type="submit">حذف
                              فاکتور</button>
                          </form>
                          <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">لغو</button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <!--  پایان حذف فاکتور ایجاد شده-->
                {% endif %}
                <!--فاکتور جدید-->
                <div class="modal fade" id="new-factor" tabindex="-1" data-bs-backdrop="static"
                  aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-scrollable modal-xl">
                    <div class="modal-content">
                      <div class="modal-header bg-primary">
                        <h5 class="modal-title text-white" id="staticBackdropLabel">ایجاد فاکتور جدید</h5><button
                          class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg
                            class="svg-inline--fa fa-xmark fs--1 text-white" aria-hidden="true" focusable="false"
                            data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 320 512" data-fa-i2svg="">
                            <path fill="currentColor"
                              d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                            </path>
                          </svg><!-- <span class="fas fa-times fs--1 text-white"></span> Font Awesome fontawesome.com --></button>
                      </div>
                      <div class="modal-body">
                        <!--MODAL BODY ----------------------------->
                        <div class="col-12 col-sm-auto">


                        </div>
                        <!--Factor----------------------------------->
                        <div class="table-responsive mx-n1 px-1 scrollbar">
                          <table class="table fs--1 mb-0 border-top border-200">
                            <thead>
                              <tr>
                                <th class="sort white-space-nowrap align-middle" scope="col" style="min-width:250px;"
                                  data-sort="product">نام محصول</th>
                                <th class="sort align-middle" scope="col" data-sort="customer" style="min-width:150px;">
                                  وزن</th>
                                <th class="sort align-middle" scope="col" data-sort="customer" style="min-width:150px;">
                                  قیمت</th>
                                <th class="sort align-middle" scope="col" data-sort="rating" style="min-width:250px;">
                                  توضیحات</th>
                                <th class="sort align-middle" scope="col" data-sort="rating" style="min-width:50;"></th>
                              </tr>
                            </thead>
                            <tbody class="list" id="table-latest-review-body">


                              <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="align-middle product white-space-nowrap"><input id="name"
                                    class="form-control" placeholder="نام محصول"></td>
                                <td class="align-middle customer white-space-nowrap"><a
                                    class="d-flex align-items-center text-900">

                                    <h6 class="mb-0 ms-3 text-900"><input id="weight" class="form-control" type="text"
                                        placeholder="وزن"></h6>
                                  </a></td>

                                <td class="align-middle customer white-space-nowrap ">

                                  <h6 class="mb-0 ms-3 text-900"><input id="price" class="form-control" type="number"
                                      placeholder="قیمت"></h6>
                                </td>
                                <td class="align-middle product white-space-nowrap"><input id="bio" class="form-control"
                                    placeholder="توضیحات"></td>
                                <td class="align-middle product white-space-nowrap"> <button name="submit-product"
                                    id="submit-product" class="btn btn-outline-primary" type="submit">تایید</button>
                                </td>

                              </tr>


                            </tbody>
                          </table>
                        </div>
                        <!--End factor------------------------------->
                        <!-- END MODAL BODY ----------------------------->


                      </div>


                      <div class="modal-footer"><button id="submit-factor" name="submit-factor" class="btn btn-primary"
                          type="submit">ثبت فاکتور</button>
                        <button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">لغو</button>
                      </div>

                    </div>
                  </div>
                </div>

                <!--  پایان فاکتور جدید-->



                <!--ایجاد حساب جدید-->
                <div id="AccountsReceivable">
                  <div class="modal fade" id="new-account" tabindex="-1" data-bs-backdrop="static"
                    aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header bg-danger">
                          <h5 class="modal-title text-white" id="staticBackdropLabel">ایجاد حساب جدید</h5><button
                            class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close"><svg
                              class="svg-inline--fa fa-xmark fs--1 text-white" aria-hidden="true" focusable="false"
                              data-prefix="fas" data-icon="xmark" role="img" xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 320 512" data-fa-i2svg="">
                              <path fill="currentColor"
                                d="M310.6 361.4c12.5 12.5 12.5 32.75 0 45.25C304.4 412.9 296.2 416 288 416s-16.38-3.125-22.62-9.375L160 301.3L54.63 406.6C48.38 412.9 40.19 416 32 416S15.63 412.9 9.375 406.6c-12.5-12.5-12.5-32.75 0-45.25l105.4-105.4L9.375 150.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L160 210.8l105.4-105.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-105.4 105.4L310.6 361.4z">
                              </path>
                            </svg><!-- <span class="fas fa-times fs--1 text-white"></span> Font Awesome fontawesome.com --></button>
                        </div>
                        <form method="post">
                          {% csrf_token %}
                        <div class="modal-body">
                          <p for="organizerSingle">نوع حساب</p>
                          <select class="form-select w-30 col-md-12 mb-6" id="organizerSingle"
                            data-choices="data-choices" name="create-account">

                            <option value="create-riali">حساب ریالی</option>
                            <option value="create-grami">حساب گرمی</option>
                            <option value="create-long">حساب بلند مدت</option>

                          </select>
                          <div class="row g-3" id="create-riali">
                            <div class="col-md-4">
                              <p for="date">تاریخ</p>
                              <input name="riali-date" class="form-control" id="date" data-jdp>
                            </div>

                            <div class="col-md-4">
                              <p for="meltedprice">فی آبشده</p>
                              <input name="riali-meltedprice" class="form-control" id="meltedprice" type="number">
                            </div>
                            <div class="col-md-4">
                              <p for="received">رسیده</p>
                              <input class="form-control" name="riali-received" id="received" type="number">
                            </div>

                            <div class="col-md-4">
                              <p for="installments">تعداد اقساط</p>
                              <input class="form-control" name="riali-installments" id="installments" type="number">
                            </div>

                            <div class="col-md-4">
                              <p for="interest_rates">درصد سود</p>
                              <input class="form-control" name="riali-interest_rates" id="interest_rates" type="number" step="0.1" min="0">
                            </div>

                            <div class="col-md-4">
                              <p for="borrow">محاسبه امانت</p>
                              <input class="form-check-input" id="riali-borrow" name="riali-borrow" type="checkbox">
                            </div>

                          </div>



                          <div style="display: none;" class="row g-3" id="create-grami">
                            
                            <div class="col-md-4">
                              <p for="date">تاریخ</p>
                              <input class="form-control" name="grami-date" id="date" data-jdp>
                            </div>

                            <div class="col-md-4">
                              <p for="meltedprice">فی آبشده</p>
                              <input class="form-control" id="meltedprice" name="grami-meltedprice" type="number">
                            </div>
                            <div class="col-md-4">
                              <p for="received">رسیده</p>
                              <input class="form-control" id="received" name="grami-received" type="number">
                            </div>

                            <div class="col-md-4">
                              <p for="installments">تعداد اقساط</p>
                              <input class="form-control" id="installments" name="grami-installments" type="number">
                            </div>

                            <div class="col-md-4">
                              <p for="">محاسبه امانت</p>
                              <input class="form-check-input" name="grami-borrow" type="checkbox">
                            </div>

                          </div>

                          <div style="display: none;" class="row g-3" id="create-long">                 
                            <div class="col-4">
                              <p for="date">تاریخ</p>
                              <input class="form-control" id="date" name="long-date" data-jdp>
                            </div>

                            <div class="col-4">
                              <p for="meltedprice">فی آبشده</p>
                              <input class="form-control" name="long-meltedprice" type="number">
                            </div>
                            <div class="col-4">
                              <p for="received">رسیده</p>
                              <input class="form-control" name="long-received" type="number">
                            </div>

                            <div class="col-md-4">
                              <p for="borrow">محاسبه امانت</p>
                              <input class="form-check-input" id="borrow" name="long-borrow" type="checkbox">
                            </div>


                          </div>
                          
                        </div>
                        <div class="modal-footer"><button class="btn btn-warning" type="submit">ایجاد
                            حساب</button><button class="btn btn-outline-primary" type="button"
                            data-bs-dismiss="modal">لغو</button></div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
                <!--پایان ایجاد حساب  جدید-->


                <!--END MODAL FACTOR AND ACCOUNTANT--------------------------------------------->
              </div>
            </div>
            <div class="table-responsive scrollbar">
              <table class="table fs--1 mb-0 border-top border-200">
                <thead>
                  <tr>
                    <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="projectName"
                      style="width:20%;">نوع حساب</th>

                      <th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="projectName"
                      style="width:20%;">شماره فاکتور</th>
                    <th class="sort align-middle ps-3" scope="col" data-sort="assigness" style="width:10%;">تاریخ ایجاد
                    </th>
                    
                    <th class="sort align-middle ps-3" scope="col" data-sort="projectprogress" style="width:5%;">
                      قسط های پرداخت شده</th>
                    <th class="sort align-middle text-end" scope="col" data-sort="statuses" style="width:10%;">وضعیت بدهی
                    </th>
                    <th class="sort align-middle text-end" scope="col" style="width:10%;"></th>
                  </tr>
                </thead>
                <tbody class="list" id="project-list-table-body">
                  {% for accountReceivable in accountsReceivable %}
                  <tr class="position-static">
                    <td class="align-middle time white-space-nowrap ps-0 projectName py-4"><a class="fw-bold fs-0"
                        href="#">
                        {% if accountReceivable.type  == 'L' %} حساب بلند مدت {% endif %} 
                        {% if accountReceivable.type  == 'G' %} حساب گرمی {% endif %} 
                        {% if accountReceivable.type  == 'R' %} حساب ریالی  {% endif %} 
                      
                      </a></td>
                        <td class="align-middle white-space-nowrap start ps-3 py-4">
                          <p class="mb-0 fs--1 text-900">{{accountReceivable.factor.code}}</p>
                        </td>
                    <td class="align-middle white-space-nowrap start ps-3 py-4">
                      <p class="mb-0 fs--1 text-900">{{accountReceivable.created|date:"Y/m/d"}}</p>
                    </td>

                    
                    
                    <td class="align-middle white-space-nowrap ps-3 projectprogress">
                      <p class="text-800 fs--2 mb-0">3 / 1</p>
                      <div class="progress" style="height:3px;">
                        <div class="progress-bar bg-success" style="width: 33%; direction: rtl;" role="progressbar" aria-valuenow="0"
                          aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </td>
                    {% if accountReceivable.debit %}
                    <td class="align-middle white-space-nowrap text-end statuses">
                      <span class="badge badge-phoenix fs--2 badge-phoenix-danger">بدهی پرداخت نشده</span>
                      </td>
                    {% else %}
                    <td class="align-middle white-space-nowrap text-end statuses">
                      <span class="badge badge-phoenix fs--2 badge-phoenix-success">بدهی پرداخت شده</span>
                      </td>
                    {% endif %}
                    
                    <td class="align-middle text-end white-space-nowrap pe-0 action">
                      <div class="font-sans-serif btn-reveal-trigger position-static"><button
                          class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs--2"
                          type="button" data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true"
                          aria-expanded="false" data-bs-reference="parent"><svg class="svg-inline--fa fa-ellipsis fs--2"
                            aria-hidden="true" focusable="false" data-prefix="fas" data-icon="ellipsis" role="img"
                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                            <path fill="currentColor"
                              d="M120 256C120 286.9 94.93 312 64 312C33.07 312 8 286.9 8 256C8 225.1 33.07 200 64 200C94.93 200 120 225.1 120 256zM280 256C280 286.9 254.9 312 224 312C193.1 312 168 286.9 168 256C168 225.1 193.1 200 224 200C254.9 200 280 225.1 280 256zM328 256C328 225.1 353.1 200 384 200C414.9 200 440 225.1 440 256C440 286.9 414.9 312 384 312C353.1 312 328 286.9 328 256z">
                            </path>
                          </svg><!-- <span class="fas fa-ellipsis-h fs--2"></span> Font Awesome fontawesome.com --></button>
                        
                        <div class="dropdown-menu dropdown-menu-end py-2"><a class="dropdown-item" href="
                          {% if accountReceivable.type == 'L' %}   {% url 'long-customer-account'  customerId=customer.id creditId=accountReceivable.id %}
                          {% elif accountReceivable.type == 'G' %} {% url 'grami-customer-account' customerId=customer.id  creditId=accountReceivable.id %}
                          {% elif accountReceivable.type == 'R' %} {% url 'riali-customer-account' customerId=customer.id  creditId=accountReceivable.id %}
                          
                          {% endif %}
                          
                          
                          ">جزئیات حساب</a>
                          <form method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{accountReceivable.id}}">
                          <div class="dropdown-divider"></div><input name="delete-accountReceivable" type="submit" class="dropdown-item text-danger" value="حذف">
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div
              class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-bottom border-200">
              <div class="d-flex">
                <p class="mb-0 d-none d-sm-block me-3 fw-semi-bold text-900" data-list-info="data-list-info">1 to 6
                  <span class="text-600"> Items of </span>7
                </p><a class="fw-semi-bold" href="#!" data-list-view="*">View
                  all<svg class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true"
                    focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                    style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                      <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                        <path fill="currentColor"
                          d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                          transform="translate(-128 -256)"></path>
                      </g>
                    </g>
                  </svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com --></a><a
                  class="fw-semi-bold d-none" href="#!" data-list-view="less">View Less<svg
                    class="svg-inline--fa fa-angle-right ms-1" data-fa-transform="down-1" aria-hidden="true"
                    focusable="false" data-prefix="fas" data-icon="angle-right" role="img"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" data-fa-i2svg=""
                    style="transform-origin: 0.25em 0.5625em;">
                    <g transform="translate(128 256)">
                      <g transform="translate(0, 32)  scale(1, 1)  rotate(0 0 0)">
                        <path fill="currentColor"
                          d="M64 448c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L178.8 256L41.38 118.6c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l160 160c12.5 12.5 12.5 32.75 0 45.25l-160 160C80.38 444.9 72.19 448 64 448z"
                          transform="translate(-128 -256)"></path>
                      </g>
                    </g>
                  </svg><!-- <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span> Font Awesome fontawesome.com --></a>
              </div>
              <div class="d-flex"><button class="page-link disabled" data-list-pagination="prev" disabled=""><svg
                    class="svg-inline--fa fa-chevron-left" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="chevron-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                      d="M224 480c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25l192-192c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25L77.25 256l169.4 169.4c12.5 12.5 12.5 32.75 0 45.25C240.4 476.9 232.2 480 224 480z">
                    </path>
                  </svg><!-- <span class="fas fa-chevron-left"></span> Font Awesome fontawesome.com --></button>
                <ul class="mb-0 pagination">
                  <li class="active"><button class="page" type="button" data-i="1" data-page="6">1</button></li>
                  <li><button class="page" type="button" data-i="2" data-page="6">2</button></li>
                </ul><button class="page-link pe-0" data-list-pagination="next"><svg
                    class="svg-inline--fa fa-chevron-right" aria-hidden="true" focusable="false" data-prefix="fas"
                    data-icon="chevron-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"
                    data-fa-i2svg="">
                    <path fill="currentColor"
                      d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z">
                    </path>
                  </svg><!-- <span class="fas fa-chevron-right"></span> Font Awesome fontawesome.com --></button>
              </div>
            </div>
          </div>

        </div>

        <!-----------------حساب های مشتریان-->
      </div>

    </div>




    </div>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <!-- <script src="{% static 'scripts/submit-product.js'%}"></script> -->
  <script>
    var product_ids = []
    name = document.getElementsByName('name').value
    price = document.getElementsByName('price').value
    weight = document.getElementsByName('weight').value
    bio = document.getElementsByName('bio').value

    document.getElementById("submit-product").addEventListener("click", () => {
      $.ajax({
        type: "POST",
        url: "{% url 'customer' customer.id %}",
        dataType: 'json',
        data: {
          name: document.getElementById('name').value,
          price: document.getElementById('price').value,
          weight: document.getElementById('weight').value,
          bio: document.getElementById('bio').value,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          "submit-product": "submit-product"

        },

        success: function (data) {
          product_ids.push(data.id)

          var html = `
                      <tr id="product-${data.id}" class="hover-actions-trigger btn-reveal-trigger position-static">
                                
                                <td class="align-middle product white-space-nowrap"><a class="fw-semi-bold" href="apps/e-commerce/landing/product-details.html">${data.name}</td>
                                <td class="align-middle customer white-space-nowrap"><a class="d-flex align-items-center text-900">
                                   
                                    <h6 class="mb-0 ms-3 text-900">${data.weight} گرم</h6>
                                  </td>
  
                                  <td class="align-middle customer white-space-nowrap"><a class="d-flex align-items-center text-900"">
                                   
                                    <h6 class="mb-0 ms-3 text-900">${data.price}</h6>
                                  </td>
                                <td class="align-middle product white-space-nowrap">${data.bio}</td>
                                <td class="align-middle product white-space-nowrap"> <button id="delete-product" name=${data.id} class="btn btn-outline-danger">حذف</button></td>
                              </tr>
                    `
          document.getElementById('table-latest-review-body').insertAdjacentHTML('afterbegin', html)

          document.getElementById('delete-product').addEventListener('click', (e) => {
            var deleted_product_id = e.target.name

            product_ids.splice(product_ids.indexOf(parseInt(deleted_product_id)), 1)
            document.getElementById(`product-${deleted_product_id}`).outerHTML = ""
            $.ajax({
              type: "POST",
              url: "{% url 'customer' customer.id %}",
              dataType: 'json',
              data: {
                product_id: deleted_product_id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
                "delete-product": "delete-product"
              },

              success: function () {


              }
            })

          })



        }
      })
    })

    document.getElementById("submit-factor").addEventListener('click', () => {

      console.log(123)
      var i = product_ids
      $.ajax({
        type: "POST",
        url: "{% url 'customer' customer.id %}",
        dataType: 'json',
        data: {
          product_ids: `${product_ids}`,
          csrfmiddlewaretoken: '{{ csrf_token }}',
          "submit-factor": "submit-factor"

        },

        success: function (data) {
          product_ids = []
          location.reload()
          console.log(data.code)
        }

      })
    })



  </script>

  <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
  <script type="text/javascript"
    src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>
  <script>

    document.addEventListener('DOMContentLoaded', function () {
      jalaliDatepicker.startWatch({ container: '#new-account' });

      document.getElementById('create-riali').style.display = 'inline-flex'
      document.getElementById('create-grami').style.display = 'none'
      document.getElementById('create-long').style.display = 'none'

      document.getElementById('organizerSingle').addEventListener('change', function () {
        const selectedValue = this.value;
        console.log(this.value)
        const riali = document.getElementById('create-riali');
        const grami = document.getElementById('create-grami');
        const long = document.getElementById('create-long');

        if (selectedValue === 'create-long') {
          riali.style.display = 'none'
          grami.style.display = 'none'
          long.style.display = 'inline-flex'
        } else if (selectedValue === 'create-grami') {
          riali.style.display = 'none'
          grami.style.display = 'inline-flex'
          long.style.display = 'none'
        }
        else {
          riali.style.display = 'inline-flex'
          grami.style.display = 'none'
          long.style.display = 'none'
        }
      });
    })



  </script>
</body>

</html>