{% load static %}
{% load custom_tags %}
<html lang="en-US" dir="rtl" class="chrome windows fontawesome-i2svg-active fontawesome-i2svg-complete"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Phoenix</title>
  
    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'assets/img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'assets/img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">
    <script src="{% static 'vendors/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'vendors/simplebar/simplebar.min.js' %}"></script>
    <script src="{% static 'assets/js/config.js' %}"></script>
    {% include '_partials/_styles-assets.html ' %}
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="{% static 'vendors/choices/choices.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/dhtmlx-gantt/dhtmlxgantt.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/flatpickr/flatpickr.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/glightbox/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vendors/dropzone/dropzone.min.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
      rel="stylesheet">
    <link href="{% static 'vendors/simplebar/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <link href="{% static 'assets/css/theme-rtl.min.css' %}" type="text/css" rel="stylesheet" id="style-rtl">
    <link href="{% static 'assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default" disabled="true">
    <link href="{% static 'assets/css/user-rtl.min.css' %}" type="text/css" rel="stylesheet" id="user-style-rtl">
    <link href="{% static 'assets/css/user.min.css' %}" type="text/css" rel="stylesheet" id="user-style-default" disabled="true">
    
    <script>
      var phoenixIsRTL = window.config.config.phoenixIsRTL;
      if (phoenixIsRTL) {
        var linkDefault = document.getElementById('style-default');
        var userLinkDefault = document.getElementById('user-style-default');
        linkDefault.setAttribute('disabled', true);
        userLinkDefault.setAttribute('disabled', true);
        document.querySelector('html').setAttribute('dir', 'rtl');
      } else {
        var linkRTL = document.getElementById('style-rtl');
        var userLinkRTL = document.getElementById('user-style-rtl');
        linkRTL.setAttribute('disabled', true);
        userLinkRTL.setAttribute('disabled', true);
      }
    </script>
 
  <body>
    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">
      {% include "_partials/navbar-menu.html" %}
        <div class="content">
            <h4> پرداخت و نمایش بدهی ها  (حساب ریالی)</h4>
            <div class="mt-4">
            
              <button class="btn btn-info col-12 col-sm-auto mb-2" type="button" data-bs-toggle="modal" data-bs-target="#factor">نمایش فاکتور این حساب</button>
              <button class="btn btn-info col-12 col-sm-auto mb-2" data-bs-toggle="modal" data-bs-target="#debt">پرداخت بدهی</button>
              
            
              <div class="modal fade" id="factor" tabindex="-1" data-bs-backdrop="static" aria-labelledby="factorLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                  <div class="modal-content">
                    <div class="modal-header bg-primary">
                      <h5 class="modal-title text-white" id="factorLabel">فاکتور</h5>
                    </div>
                    <div class="modal-body">
                      <!--MODAL BODY ----------------------------->
                      
                      <!--Factor----------------------------------->
                      <div class="table-responsive mx-n1 px-1 scrollbar">
                        <table class="table fs--1 mb-0 border-top border-200">
                          
                          {% for product in accountReceivable.factor.products.all %}
                              <tr class="hover-actions-trigger btn-reveal-trigger position-static">

                                <td class="align-middle product white-space-nowrap">{{product.name}}</td>
                                <td class="align-middle customer white-space-nowrap"><a
                                    class="d-flex align-items-center text-900">

                                    <h6 class="mb-0 ms-3 text-900">{{product.weight|persian_int}}</h6>
                                  </a></td>

                                <td class="align-middle customer white-space-nowrap ">

                                  <h6 class="mb-0 ms-3 text-900">{{product.price|persian_int|split_three_digits}}</h6>
                                </td>
                                <td class="align-middle product white-space-nowrap">{{product.bio}}</td>


                              </tr>
                              {% endfor %}
                  
                          </tbody>
                        </table>
                      </div>
                       <!--End factor------------------------------->
                      <!-- END MODAL BODY ----------------------------->
                    </div>
                    <div class="modal-footer"></button><button class="btn btn-outline-primary" type="button" data-bs-dismiss="modal">بستن</button></div>
                  </div>
                </div>
              </div>
              
            
            <div class="modal fade" id="debt" tabindex="-1" data-bs-backdrop="static" aria-labelledby="LongLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-scrollable">
                <form class="" method="post">
                  <div class="modal-content">
                    <div class="modal-header bg-primary">
                      <h5 class="modal-title text-white" id="LongLabel">پرداخت بدهی</h5>
                    </div>
                    <div class="modal-body">
                      <!--MODAL BODY ----------------------------->
      
                      <!--Long term debt----------------------------------->
      
                      <div class="row g-3">
                          {% csrf_token %}
                          <input type="hidden" name="debt-payment">
                        <div class="col-md-4">
                          <p for="date">تاریخ</p>
                          
                          <input class="form-control" id="date" name="date" data-jdp>
                        </div>
                        <div class="col-md-4">
                          <p for="meltedprice">فی آبشده</p>
                          <input class="form-control" id="meltedprice" name="meltedprice" type="number">
                        </div>
                        <div class="col-md-4">
                          <p for="received">رسیده</p>
                          <input class="form-control" id="received" name="received" type="number">
                        </div>
                      </div>
      
      
      
                      
      
                      <!--End Long term debt------------------------------->
                      <!-- END MODAL BODY ----------------------------->
                    </div>
                    <div class="modal-footer"></button><button class="btn btn-outline-primary" type="button"
                        data-bs-dismiss="modal">بستن</button>
                      <button class="btn btn-success" type="submit">ثبت پرداخت</button>
                    </div>
                  </div>
                </form>
              </div>
            </div> 
            
          </div>
            <div class="col-12 mt-4">
              <div class="row gy-3 h-100">
                <div class="col-12">
                  <div class="card mb-3 h-100">
                    
                    <div class="card-body">
                      <div class="table-responsive scrollbar">
                      <table class="table border text-center border-top border-400">
                        {% for payment in payments %}
                          {% if forloop.first %}
                        <thead>
                          <tr>
                            <th scope="col">تاریخ</th>
                            <th scope="col">فی آبشده</th>
                            <th scope="col">فاکتور</th>
                            <th scope="col">رسیده</th>
                            <th scope="col">تعداد اقساط</th>
                            <th scope="col">درصد سود</th>
                            <th scope="col">مانده به گرم</th>
                            <th scope="col">امانت</th>
                            <th scope="col">مانده حساب ریال</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table">
                            <th scope="row">{{payment.payment_date|date:"Y/m/d"|persian_int}}</th>
                            <td>{{payment.liquidated_price|persian_int|split_three_digits}} ریال</td>
                            <td>
                            <table class="border border-200">
                              <tr>
                                  <td>{{accountReceivable.factor.total_weight|persian_int}} گرم</td>
                                  
                              </tr>
                              <tr>
                                <td class="border bg-black border-100"></td>
                            </tr>
                              <tr>
                                  <td>{{accountReceivable.factor.total_price|persian_int|split_three_digits}} ریال</td>
                               
                              </tr>
                          </table></td>
                            <td>{{payment.payment_received|persian_int|split_three_digits}}ریال</td>
                            <td>{{accountReceivable.installments|persian_int}} نوبت</td>
                            <td>{{accountReceivable.interest_rates|persian_int}}٪</td>
                            <td>{{payment.Account_balance_in_gram|persian_int}} گرم</td>
                            {% if accountReceivable.borrow %}
                            <td>{{accountReceivable.borrow|persian_int}} گرم</td>
                            {% else %}
                              <td>___</td>
                              {% endif %}
                            <td>{{payment.Account_balance_in_rial|persian_int|split_three_digits}}</td>
                          </tr>
                          {% else %}
                          <tr class="border border-500">
                            <th scope="row">تاریخ</th>
                            <th scope="row">فی آبشده</th>
                            <th class=" text-center" colspan="3">رسیده</th>
                            <th class="text-center" colspan="2">بستانکار</th>
                            
                            
                            <th class="text-center" colspan="3">مانده حساب</th>
                          </tr>
                          <tr>
                            <td scope="row">{{payment.payment_date|date:"Y/m/d"|persian_int}}</td>
                            <td>{{payment.liquidated_price|persian_int|split_three_digits}}</td>
                            {% if payment.payment_received %}
                            <td class=" text-center" colspan="3">{{payment.payment_received|persian_int|split_three_digits}}</td>
                            {% else %}
                            <td class=" text-center" colspan="3">___</td>
                            {% endif %}
                            <td class=" text-center" colspan="2">{{payment.creditor|persian_int|split_three_digits}}</td>
                            
                            
                            <td class="text-center" colspan="3">{{payment.Account_balance_in_rial|persian_int|split_three_digits}}</td>
                          </tr>
                        </tbody>
                        {% endif %}
                      
                      {% endfor %}
                      </table>
                      </div>
                      </div></div></div></div></div>
          
            
        </div>
      
      

    </main>

    <link rel="stylesheet" href="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.css">
    <script type="text/javascript"src="https://unpkg.com/@majidh1/jalalidatepicker/dist/jalalidatepicker.min.js"></script>

    <script>

      document.addEventListener('DOMContentLoaded', function () {
        jalaliDatepicker.startWatch({ container: '#debt' });
      })
      </script>
</body></html>