@font-face {
    font-family: "iransans";
    src: url(IranSansLight.ttf);
  }

  body{
    font-family: 'iransans';
  }

  h1, h2, h3, h4, h5, h6, p, a, span, div, li {
    font-family: 'iransans';
  }